{% extends "app.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    <h1>Channel Need More Post</h1>
    <p>Show All Pages Here</p>
    {% for channel in  object_list %}
        <div>
            <p>
                <a href="/channel/posts/{{ channel.channel_id }}">Channel Name : {{ channel.channel_name }}</a>
                || Channel Author : {{ channel.created_by }}
            </p>
        </div>
    {% endfor %}
{% endblock content %}
</body>
</html>