{% extends "nav.html" %}
{% load widget_tweaks %}
{% block content %}
  <div class="col-lg-9">
    <form action="" method="POST">
      {% csrf_token %}
      {{ form.non_fields_errors }}
      <div class="fieldWrapper">
        <label for="{{ form.username.id_for_label }}"> Username : </label>
        <input type="text" name="username" class="form-control">
        {{ form.username.errors }}
      </div>
      <div class="fieldWrapper">
        <label for="{{ form.password1.id_for_label }}"> Password : </label>
        <input type="password" name="password1" class="form-control">
        {{ form.password1.errors }}
      </div>
      <div class="fieldWrapper">
        <label for="{{ form.password2.id_for_label }}"> Confirm Password : </label>
        <input type="password" name="password2" class="form-control">
        {{ form.password2.errors }}
      </div>
      <div class="fieldWrapper">
        <label for="{{ form.email.id_for_label }}"> Email : </label>
        <input type="text" name="email" class="form-control">
        {{ form.email.errors }}
      </div>
      <div class="fieldWrapper">
        <label for="{{ form.first_name.id_for_label }}"> First name : </label>
        <input type="text" name="first_name" class="form-control">
        {{ form.first_name.errors }}
      </div>
      <div class="fieldWrapper">
        <label for="{{ form.last_name.id_for_label }}"> Last name : </label>
        <input type="text" name="last_name" class="form-control">
        {{ form.last_name.errors }}
      </div>
      <br>
      <button type="submit" class="btn btn-info"> SIGN UP</button>
      <button type="reset" class="btn btn-info"> RESET</button>
    </form>
  </div>
{% endblock content %}

