  <form action="/signin/" method="POST">
    {% csrf_token %}
    <div class="fieldWrapper">
      <label for="{{ form.username.id_for_label }}"> Username : </label>
      <input type="text" name="username" class="form-control">
      {{ form.username.errors }}
    </div>
    <div class="fieldWrapper">
      <label for="{{ form.password.id_for_label }}"> Password : </label>
      <input type="password" name="password" class="form-control">
      {{ form.password.errors }}
    </div>
    <br>
    <button type="submit" class="btn btn-info"> LOGIN</button>
    <button type="reset" class="btn btn-info"> RESET</button>
    <a href="/signup/"> signup</a>
  </form>
